define service {
      hostgroup_name                  fdn_ipv4
      service_description             icmp_ipv4
      check_command                   check_ping!100.0,40%!500.0,60% -4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  fdn_ipv6
      service_description             icmp_ipv6
      check_command                   check_ping!100.0,40%!500.0,60% -6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  web
      service_description             tcp80_ipv4
      check_command                   check_tcp!80!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  web
      service_description             tcp80_ipv6
      check_command                   check_tcp!80!-6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  web
      service_description             tcp443_ipv4
      check_command                   check_tcp!443!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  web
      service_description             tcp443_ipv6
      check_command                   check_tcp!443!-6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             tcp25_ipv4
      check_command                   check_tcp!25!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             tcp25_ipv6
      check_command                   check_tcp!25!-6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             tcp587_ipv4
      check_command                   check_tcp!587!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             tcp587_ipv6
      check_command                   check_tcp!587!-6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  jabber
      service_description             tcp5222_ipv4
      check_command                   check_tcp!5222!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  jabber
      service_description             tcp5222_ipv6
      check_command                   check_tcp!5222!-6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  jabber
      service_description             tcp5223_ipv4
      check_command                   check_tcp!5223!-4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

# to investigate
#define service {
#      hostgroup_name                  jabber
#      service_description             tcp5223_ipv6
#      check_command                   check_tcp!5223!-6
#      check_interval           1
#      use                             generic-service
#      event_handler                   cachet_notify
#}


define service {
      hostgroup_name                  dns_ipv4
      service_description             dns_ipv4
      check_command                   check_dns!www.gnu.org!208.118.235.148
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  dns_ipv6
      service_description             dns_ipv6
      check_command                   check_dns!www.gnu.org!208.118.235.148
#     check_command                   check_dns!www.debian.org!2001:610:1908:b000::148:14,2001:41c8:1000:21::21:4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             st25_ipv4
      check_command                   check_smtp!-p 25 -4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             st25_ipv6
      check_command                   check_smtp!-p 25 -6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             st587_ipv4
      check_command                   check_smtp!-p 587 -4
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  mail
      service_description             st587_ipv6
      check_command                   check_smtp!-p 587 -6
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  ssh_ipv4
      service_description             ssh_ipv4
      check_command                   check_ssh!-4 -P 2.0
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  ssh_ipv6
      service_description             ssh_ipv6
      check_command                   check_ssh!-6 -P 2.0
      check_interval           1
      use                             generic-service
      event_handler                   cachet_notify
}


define service {
      hostgroup_name                  web
      service_description             web_ipv4
      check_command                   check_http!-4 -S -e=200,301,302,401
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  web
      service_description             web_ipv6
      check_command                   check_http!-6 -S -e=200,301,302,401
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      host_name 	              adminsys.fdn.fr,lists.fdn.fr,webmail.fdn.fr,git.fdn.fr
      service_description             certificats
      check_command                   check_http! -C 30
      check_interval           1440
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  vpn_open
      service_description             vpn_open_tcp
      check_command                   check_vpn!openvpn!fdn!fdn!--ca /etc/openvpn/ca.crt --proto tcp --port 443
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}
define service {
      hostgroup_name                  vpn_open
      service_description             vpn_open_udp
      check_command                   check_vpn!openvpn!fdn!fdn!--ca /etc/openvpn/ca.crt --proto udp --port 1194
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}


define service {
      hostgroup_name                  vpn_rw
      service_description             vpn_rw_tcp
      check_command                   check_vpn!openvpn!nagios.isengard@vpn.fdn.fr!Oohi8Eing4qu!--ca /etc/openvpn/ca-vpn.crt --proto tcp --port 22
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}


define service {
      hostgroup_name                  vpn_rw
      service_description             vpn_rw_udp
      check_command                   check_vpn!openvpn!nagios.isengard@vpn.fdn.fr!Oohi8Eing4qu!--ca /etc/openvpn/ca-vpn.crt --proto udp --port 53
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}


define service {
      hostgroup_name                  vpn
      service_description             vpn_tcp
      check_command                   check_vpn!openvpn!nagios.isengard@vpn.fdn.fr!Oohi8Eing4qu!--ca /etc/openvpn/ca-vpn.crt --proto tcp --port 1194
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}

define service {
      hostgroup_name                  vpn
      service_description             vpn_udp
      check_command                   check_vpn!openvpn!nagios.isengard@vpn.fdn.fr!Oohi8Eing4qu!--ca /etc/openvpn/ca-vpn.crt --proto udp --port 1194
      check_interval           5
      use                             generic-service
      event_handler                   cachet_notify
}
