# Overview

## pre-work

Les entrées IPv4 et IPv6 doivent être renseignées dans le DNS avant de lancer le script

## id

Les VMs sous proxmox sont identifiées par un id qui doit être choisi (et unique), actuellement les deux derniers bytes de l'ipv4 sont utilisées comme id tels quels e.g. `tiree.fdn.fr` qui a pour IP 80.67.169.74 a comme id 169074

## scripts

Les scripts de déploiement sont dans un git partagé entre les deux hyperviseurs, actuellement dans `/mnt/pve/gluster/mkosi/`

Trois scripts sont prévus pour être lancés par des admins :
 - `buildtemplate.sh` doit être lancé une fois de temps en temps, soit pour mettre à jour le template disque pour prendre les mises à jour d'une distro (et gagner du temps lors d'un nouveau déploiement), soit pour créer le template d'une nouvelle release/distro.  
 Il ne fait que faire un tar via mkosi, donc on pourrait imaginer prendre un tar existant d'internet (e.g. alpine linux doit fournir un tar container qui pourrait correspondre ±10%), ou bien déployer n'importe quel système que mkosi sait déployer (à priori : debian-like, rhel-like, arch)  
 Le script postinst.sh lancé par mkosi devra probablement être adapté pour d'autres distro, mais son rôle principal est de lancer puppet une première fois pour avoir au moins les admins configurés. Il faudra valider le certificat de `template.fdn.fr` lors de la création d'un nouveau template, et ne pas oublier de le `cleanup` après pour le déploiement suivant.

  - `buildvm.sh` qui déploie vraiment une VM à partir du tar créé précédement. Le script crée les disques qui correspondent dans la configuration demandée, y extrait le tar, configure le hostname/IP (partie à adapter pour d'autres distros éventuelles).
  Ce script a besoin de l'IP pour la configurer dans l'image et pour décider de l'id de la VM, il faut donc que la machine soit préalablement déclarée dans les DNS.
  La VM tournera sur l'hyperviseur sur lequel elle est lancée, et devra être migrée après si jugé utile.

   - `copyvm.sh` qui permet de copier une vm (`tar`) **en fonctionnement** depuis n'importe où sur Proxmox. Ce script utilise le script `buildvm.sh` pour créer la vm sur Porxmox. Avant de le lancer, s'assurer d'avoir bien **arrêté** tous les services utiles de la vm (**puppet**, web, bases de données, dns, etc.), sinon les données ne seront pas consistantes entre l'ancienne et la nouvelle vm. Vu que **toutes** les données sont copiées, il n'y a pas besoin de s'occuper de `puppet` pour la nouvelle vm, néanmoins il est nécessaire de **couper** l'ancienne vm après la copie (avant le démarrage de la nouvelle vm) au risque de se retrouver avec deux vm avec la même adresse IP... :boom: 

   > Note : le paquet `lzop` doit être installé sur l'ancienne vm pour `copyvm.sh`

   Les trois scripts sont configurable par variables d'environnement telles que définies en début de script :
   ```
   # head buildvm.sh
   DISTRO=${DISTRO:-debian}
   RELEASE=${RELEASE:-buster}
   TEMPLATE_ID=${TEMPLATE_ID:-} # empty = guess from 'template-$(hostname -s)'
   MEM=${MEM:-2048} # in MB
   CPU=${CPU:-2}
   # DISKS cannot be passed as is: expect a string argument
   declare -A DISKS=${DISKS:-( [/]=5G [/var]=10G )}
   # same, expects something like DISKS_STORAGE="( [/srv]=gluster )"
   declare -A DISKS_STORAGE=${DISKS_STORAGE:-( )}
   DISKS_STORAGE_DEFAULT=${DISKS_STORAGE_DEFAULT:-gluster-ssl}

   # head buildtemplate.sh 
   DISTRO="${DISTRO:-debian}"
   RELEASE="${RELEASE:-buster}"
   EXTRA_PKGS="${EXTRA_PKGS:-puppet,vim,lsb-release,iproute2,openssh-server,ifupdown,qemu-guest-agent,grub2,linux-image-amd64}"
   ```


   ## exemples

   ```
   # DISKS="( [/]=5G [/var]=10G [/srv]=40G)" DISKS_STORAGE="( [/srv]=gluster )" ./buildvm.sh tiree.fdn.fr
   # MEM=4096 ./buildvm.sh mail.test.fdn.fr
   # sudo DISKS="( [/]=5G [/var]=10G [/var/opt/gitlab]=15G [/var/opt/gitlab/backups]=5G)" CPU=4 MEM=4096 ./buildvm.sh git.test.fdn.fr
   ```

   ## après buildvm.sh
   *  puppet est installé et configuré en même temps que la création de la VM (chouette)
   *  une autre passe puppet après l'installation permet de descendre les config spécifiques de la VM ainsi que toute la config de base, quelques étapes pour que cela fonctionne :

   0. (uniquement si le même nom de VM existait avant, donc dans le cas d'une re-installe) @palpatine : `puppetserver ca clean --certname xxx.fdn.fr` (repertoire `/opt/puppetlabs/server/apps/puppetserver/bin`)
   1. @palpatine : `puppetserver ca list` puis `puppetserver ca sign --certname xxx.fdn.fr` (repertoire `/opt/puppetlabs/server/apps/puppetserver/bin`)
   2. @vm : `etckeeper commit -m "first pass puppet"` (sans cela, puppet ne (re)passera pas)
   3. la VM fraîchement créée va lancer puppet après une minute ou deux automatiquement lors de son prochain test de certificat vers palpatine (si vraiment pressé : `puppet agent -t` sur la VM)

   ## Bonus (let's encrypt)
   *  ajout de la class acme dans le YAML de la VM (repertoire `puppet-fdn/hieradata/hosts`) du git puppet-fdn
   *  installation apache : `apt-get install apache2`
   *  ajout du fichier des chemins de certificats dans` /etc/acme/xxx.fdn.fr.conf`

   ```
   DOMAINS="xxx.fdn.fr"
   _UNAME="xxx.fdn.fr"
   _DIR="/etc/apache2/ssl/xxx.fdn.fr"

   KEY="$_DIR/$_UNAME.key"
   CRT="$_DIR/$_UNAME.crt"
   CSR="$_DIR/$_UNAME.csr"
   CHAINED="$_DIR/$_UNAME.chained"
   INTERMEDIATE="$_DIR/$_UNAME.intermediate"
   ACME_KEY="$_DIR/$_UNAME.acme.key"
   ACME_CHALLENGE_ROOT=~acme/challenges
   ACME_CHALLENGE_URL=/.well-known/acme-challenge
   ACME_CHALLENGE_DIR="${ACME_CHALLENGE_ROOT}/${ACME_CHALLENGE_URL}"
   RELOAD_SERVICE=apache2
   ```

   *  creation du repetoires des certificats : `mkdir -p /etc/apache2/ssl/xxx.fdn.fr`
   *  creation des REQ : `sudo /usr/local/bin/acme_create --config /etc/acme/xxx.fdn.fr.conf`
   *  config apache (include) : `mkdir /etc/apache2/include/`
   *  config apache (acme-challenge) :

   ```
   tee /etc/apache2/include/acme-challenge.conf  <<EOF
   Alias /.well-known/acme-challenge /var/lib/acme/challenges/.well-known/acme-challenge
   <Directory /var/lib/acme/challenges>
       Require all granted
       </Directory>
       EOF
       ```
       *  config apache (activer le module rewrite & ssl) : `a2enmod rewrite` et `a2enmod ssl` puis `systemctl restart apache2`

       *  config apache (redirect-to-https) :
       ```
       tee /etc/apache2/include/redirect-to-https.conf  <<EOF
       <ifmodule mod_rewrite.c>
               RewriteEngine On
                       RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
                               RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
                               </ifmodule>
                               EOF
                               ```

                               *  config apache (vhost dans `/etc/apache2/sites-enabled/000-default.conf`) : 
                               ```
                               <VirtualHost *:80>
                                       ServerName xxx.fdn.fr
                                               LogLevel warn
                                                       Include /etc/apache2/include/acme-challenge.conf
                                                               Include /etc/apache2/include/redirect-to-https.conf
                                                               </VirtualHost>
                                                               ```
                                                               *  config apache (restart) : `service apache2 restart`
                                                               *  generation du certificat : `sudo -u acme /usr/local/bin/acme_renew --config /etc/acme/xxx.fdn.fr.conf`
                                                               *  config apache (vhost ssl dans `/etc/apache2/sites-available/default-ssl.conf`) :
                                                               ```
                                                               <VirtualHost *:443>
                                                                   ServerName xxx.fdn.fr

                                                                       SSLEngine on
                                                                           SSLCertificateFile      /etc/apache2/ssl/xxx.fdn.fr/xxx.fdn.fr.chained
                                                                               SSLCertificateKeyFile   /etc/apache2/ssl/xxx.fdn.fr/xxx.fdn.fr.key

                                                                                   # Configuration spécifique au virtualhost
                                                                                       # ...
                                                                                       ```

                                                                                       </VirtualHost>
                                                                                       *  activer le default-ssl : `a2ensite default-ssl.conf` puis `systemctl reload apache2`
                                                                                       *  All set !